* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000D1A;
}

html, body {
    scroll-behavior: smooth;
}


.navbar {
    padding: 2rem;
    background: linear-gradient(90deg, rgba(43,52,61,1) 0%, rgba(82,88,94,1) 69%, rgba(74,81,87,1) 100%);
}

@media screen and (max-width: 320px) {
    .navbar {
        padding: 1rem;
    }
}

.navbar .navbar-brand.logo {
    color: #FFFFFF !important;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.navbar-nav .nav-item .nav-link {
    color: #FFFFFF !important;
    font-size: 1.2rem;
    position: relative;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #0effb7;
    width: 100%;
    margin: auto;
    opacity: 0;
    transition: .35s;
}

@keyframes addwidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
    animation: addwidth .2s ease-in;
}   

.navbar-nav .nav-item .nav-link.active {
    color: #0effb7 !important; 
}

.navbar-nav .nav-item .nav-link.active::before {
    opacity: 1;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0effb7 !important;
}

@media screen and (min-width: 992px) {
    .navbar {
        height: 4rem;
    }

    .navbar-nav {
        margin: auto;
    }

    .navbar-nav li {
        margin-right: 3rem;
    }
}

/* ===== HERO HEADER CSS ===== */

.hero-section {
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 4rem;
    display: grid;
    place-items: center;
    transition: .35s ease-in-out;
}
/* 
.hero-section.scrolled {
    height: 70vh;
} */

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.562);
}

.hero-text {
    text-align: center;
    z-index: 2;
}

.hero-text h1, h4 {
    color: #FFFFFF;
}

.hero-text h1 {
    font-weight: 600;
    font-size: 3rem;
}

.hero-text h4 {
    letter-spacing: 2px;
}

.buttons {
    background: #0effb7;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: .5rem;
    transition: all .35s ease-in-out;
}

.buttons:hover {
    transform: translateY(-5px);
}

.hero-btn {
    padding: .5rem 2rem;
}

.hero-btn:hover {
    background: #03df9d;
}

/* ===== ABOUT SECTION CSS === */

.about-section {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 70%;
}

.section-title h1 {
    font-weight: 600;
}

.section-title h1 span {
    color: #03df66;
}

.about-img {
    width: 60%;
    height: 300px;
    display: flex;
}

.about-img img {
    max-width: 400px;
}

.about-img img:nth-child(1) {
    /* top: 0;
    left: 0; */
    z-index: 2;
    transform: translateX(90px);
}

.about-img img:nth-child(2) {
    /* bottom: -30%;
    right: 0; */
    transform: translate(-100px, 80px);
}

@media screen and (max-width: 768px) {
    .about-section {
        margin-top: 3rem;
    }
    .about-section, .about-img {
        flex-direction: column;
    }

    .about-text {
        width: 100%;
        text-align: center;
    }

    .about-img {
        width: 100%;
    }


    .about-img img:nth-child(1) {
        transform: translateX(0);
    }

    .about-img img:nth-child(2) {
        visibility: hidden;
    }
}

.feature-section {
    height: 100%;
    margin-top: 3rem;
}

.feature-title {
    margin-bottom: 3rem;
}

.row {
    height: 100%;
    display: flex;
    align-items: center;
}



.feature-col .text::first-letter {
    border-left: 5px solid #03df66;
    padding-left: 1rem;
}

.feature-col .text h2 {
    font-weight: 600;
}

.feature-col .text p {
    font-size: 1.5rem;
}

.feature-col .text .feature-btn {
    background: #000D1A;
    color: #FFFFFF;
    padding: .5rem 3rem;
}

@media screen and (max-width: 768px) {
    .feature-section {
        margin-top: 1rem;
    }
    .feature-col .img {
        display: grid;
        place-items: center;
        margin-top: 2rem;
    }
    .feature-col .img img {
        max-height: 480px;
    }

    .row {
        margin-bottom: 3rem;
    }

    .feature-row2 {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 320px) {
    .feature-col .img img {
        max-height: 380px;
    }
}

@media screen and (max-width: 540px) and (min-height: 720px) {
    .feature-section {
        margin-top: 7rem;
    }
}

/* === CSS BAGIAN PRICING === */

.pricing-section {
    height: 100vh;
    margin-top: 5rem;
    padding: 2rem;
    position: relative;
}

.pricing-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, rgba(3,223,102,1) 9%, rgb(60, 252, 146) 100%);
    z-index: -1;
}

.pricing-title {
    margin-bottom: 2rem;
}

.pricing-title h1 {
    color: #FFFFFF;
}

.pricing-col .card {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
    transition: .3s;
}

.pricing-col .card:hover {
    transform: translateY(-8px);
}

.pricing-col .card .card-body .card-title {
    color: #03df66;
    font-weight: 600;
}

.pricing-col .card .card-body .card-text {
    color: #8f8f8f;
}


.pricing-col .card .card-body .card-link {
    padding: .3rem 1rem;
    text-decoration: none;
    color: #000D1A;
    transition: .2s;
}

.pricing-col .card .card-body .card-link:hover {
    background: #03df9d;
}

.pricing-col .card .card-body .card-link:nth-child(2) {
    background: #0effb74b;
}

.pricing-col .card .card-body .card-link:nth-child(2):hover {
    background: #0effb77c;
}

@media screen and (max-width: 768px) {
    .pricing-section {
        height: 100%;
    }
    .pricing-section::before {
        height: 100%;
    }
    .d-flex {
        flex-direction: column;
    }

    .pricing-col {
        display: flex;
        justify-content: center;
    }

    .pricing-col .card {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .pricing-col .card .card-body .card-link {
        padding: .3rem .838rem;
    }
}

.contact-section {
    height: 80vh;
    margin-top: 5rem;
}

.contact-section .contact-title {
    margin-bottom: 2rem;
}

.contact-form .input input {
    width: 400px;
    height: 50px;
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all .25s ease-in;
}
.contact-form .input input:focus,
.contact-form .input textarea:focus {
    padding-left: 1.5rem;
    border: 2px solid #03df66;
}

.contact-form .input textarea {
    width: 400px;
    height: 150px;
    outline: none;
    padding: 1rem;
    margin-bottom: 1rem;
    resize: none;
    transition: all .25s ease-in;
}

.contact-form .tombol-submit .submit-btn {
    background: #000D1A;
    color: #FFFFFF;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    transition: all .35s;
}

.contact-form .tombol-submit .submit-btn:hover {
    background: #001427;
    transform: translateY(-8px);
}

.sosial-media {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.sosial-media .sosialmedia-link {
    list-style: none;
}

.sosial-media .sosialmedia-link li {
    margin-bottom: 1rem;
}

.sosial-media .sosialmedia-link li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #888;
    font-size: 1.3rem;
    transition: .2s ease-in-out;
}

.sosial-media .sosialmedia-link li a:hover {
    color: #000D1A;
}

.sosial-media .sosialmedia-link li a i {
    font-size: 3rem;
    margin-right: 1rem;
}

@media screen and (max-width: 768px) {
    .contact-title {
        text-align: center;
    }

    .contact-title h1 {
        font-size: 2rem;
    }

    .contact-form {
        margin: 1rem auto;
        margin-bottom: 2rem;
    }

    .contact-form .input input,
    .contact-form .input textarea,
    .contact-form .tombol-submit .submit-btn {
        width: 300px;
    }

    .sosial-media .sosialmedia-link li:nth-child(1) a {
        font-size: 1rem;
    }
}

.footer {
    background: #000D1A;
    height: 180px;
    display: grid;
    place-items: center;
}

.footer .footer-text .logo {
    color: #e2e1e1;
    font-weight: 600;
}

.footer .footer-text h1, p {
    color: #888;
}

@media screen and (max-width: 768px) {
    .footer {
        height: 250px;
        margin-top: 18rem;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        margin-top: 28rem;
    }
}
